.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.select-Table {
  width: 200px;
  height: 50px;
  position: absolute;
  right: 430px;
  top: 650px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 40px;
  color: #f8cb00;
  background-color: #000;
}

.select-Table select:hover,
select:focus,
select:active {
  background-color: #f8cb00;
  transition: 0s;
  font-size: 16px;
  color: #000;
}

.btn-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.btn-menu-breakfast,
.btn-menu-allDay {
  width: 250px;
  height: 70px;
  position: absolute;
  left: 110px;
  font-size: 30px;
  background: #f8cb00;
  border-radius: 50px;
  font-weight: bold;
}

.btn-menu-allDay {
  position: absolute;
  top: 480px;
}

.btn-menu-breakfast {
  position: absolute;
  top: 360px;
}

.container-order {
  position: absolute;
  width: 450px;
  height: 500px;
  left: 60px;
  top: 750px;
  border-radius: 10px;
  background: #fff;
  font-size: 30px;
  padding-left: 10px;
}

.title-order {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 24px;
  padding-top: 10px;
}

.user-order {
  font-size: 32px;
  padding-bottom: 10px;
}

.order-list label {
  font-size: 30px;
}

.client-order {
  width: 250px;
  height: 40px;
  margin-right: 20px;
  padding-left: 10px;
  background: #ffffff;
  border: 2px solid #f8cb00;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
}

.qnt {
  font-size: 25px;
}

.button-qtd {
  height: 30px;
  width: 40px;
  font-size: 18px;
}

.itens {
  font-size: 25px;
}

.title-list-order label {
  padding-left: 20px;
}

.item-list-order {
  list-style: none;
  font-size: 30px;
}

.total {
  font-size: 25px;
  position: absolute;
  bottom: 25px;
  padding-left: 10px;
}

.btn-clean-order {
  width: 180px;
  height: 40px;
  position: absolute;
  left: 210px;
  top: 450px;
  font-size: 22px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
}

.btn-send-order {
  width: 230px;
  height: 70px;
  position: absolute;
  left: 80px;
  top: 530px;
  background: #f8cb00;
  border-radius: 50px;
  text-align: center;
  padding-top: 1px;
  font-weight: bold;
  font-size: 26px;
}

.main-right {
  display: flex;
  position: absolute;
  top: 150px;
  right: 100px;
}

/* .item-main-right{
  position: absolute;
  left: 10px;
  top: 20px;
} */

.breakfast {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: none;
}

.list-menu-breakfast,
.list-menu-allDay {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  left: 290px;
  top: 40px;
}

.icon-button-add,
.icon-button-delete {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/* .item-product-image {
	width: 150px;
	height:150px;
} */
