* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-hall {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  padding-top: 20px;
}

.welcome-header {
  width: 273px;
  position: absolute;
  left: 50px;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #fff;
  justify-content: flex-start;
}

.form-header {
  display: flex;
  position: absolute;
  top: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.item-btn-myOrder,
.item-btn-myOrder-finished {
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  background: #f8cb00;
  border-radius: 50px;
}

.item-btn-myOrder {
  width: 230px;
  position: absolute;
  right: 290px;
}

.item-btn-myOrder-finished {
  width: 280px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.item-icon-logout {
  position: absolute;
  left: 60px;
  top: 1px;
  width: 65px;
  height: 65px;
  margin-left: 10px;
}
